In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Import & Explore Data

In [2]:

df = pd.read_csv('fcc-forum-pageviews.csv')

df.head()

         date  value
0  2016-05-09   1201
1  2016-05-10   2329
2  2016-05-11   1716
3  2016-05-12  10539
4  2016-05-13   6933

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1304 non-null   object
 1   value   1304 non-null   int64
dtypes: int64(1), object(1)
memory usage: 20.5+ KB

In [4]:
df.describe()

              value
count  1.304000e+03
mean   6.722068e+04
std    5.933964e+04
min    1.201000e+03
25%    3.575775e+04
50%    5.719750e+04
75%    8.388300e+04
max    1.173655e+06

# Clean & Format Data

In [10]:
rem_top_outliers = df['value'] <= df['value'].quantile(0.975)
rem_bot_outliers = df['value'] >= df['value'].quantile(0.025)

df = df[rem_top_outliers & rem_bot_outliers]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 954 entries, 42 to 1245
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    954 non-null    object
 1   value   954 non-null    int64
dtypes: int64(1), object(1)
memory usage: 22.4+ KB